:root {
  --pr-text-color: #2e2e2e;
  --black: #000000;
  --white: #ffffff;
  --light-grey: #f7f7f7;
  --light-grey-darken: #dadada;
  --dark-grey: #979797;
  --pr-font: Roboto, "Helvetica Neue", sans-serif;
}
