<div class="container">
  <div class="table-wraper">

    <h2 *ngIf="error; else usersBlock" class="error-title">{{ error }}</h2>
    <ng-template #usersBlock>
      <!-- if data loaded form api show table -->
      <ng-container *ngIf="dataSource.data.length > 0; else loading">
        <header class="table-header">
          <button mat-icon-button (click)="addRow()" color="primary">
            <mat-icon svgIcon="add"></mat-icon>
          </button>
          <button mat-icon-button (click)="removeSelectedRows()" [disabled]="selection.selected.length === 0" color="warn">
            <mat-icon svgIcon="trash"></mat-icon>
          </button>
        </header>
        <form *ngIf="form" [formGroup]="form" autocomplete="off" >
          <ng-container formArrayName="rows">
            <table mat-table #table [dataSource]="dataSource">
              <!-- Checkbox Column -->
              <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef>
                  <mat-checkbox
                    (change)="$event ? masterToggle() : null"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()"
                    color="primary"
                  >
                  </mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let row">
                  <mat-checkbox
                    (click)="$event.stopPropagation()"
                    (change)="$event ? selection.toggle(row) : null"
                    [checked]="selection.isSelected(row)"
                    color="primary"
                  >
                  </mat-checkbox>
                </td>
              </ng-container>
              <!-- Name Column -->
              <ng-container matColumnDef="name">
                <th mat-header-cell
                  *matHeaderCellDef
                  [appResizeColumn]="true"
                  [index]="1">
                   Имя
                </th>
                <td mat-cell
                  *matCellDef="let element; let i = index"
                  [formGroup]="element"
                  [title]="form.get('rows')?.value[i].name">
                  <input
                    (click)="stopProp($event)"
                    class="notEditableInput"
                    [class.editableInput]="!form.get('rows')?.value[i].isEditable"
                    formControlName="name"
                    [readonly]="form.get('rows')?.value[i].isEditable"
                    type="text">
                </td>
              </ng-container>
              <!-- E-mail Column -->
              <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef [appResizeColumn]="true" [index]="2"> E-mail </th>
                <td mat-cell
                  *matCellDef="let element; let i = index"
                  [formGroup]="element"
                  [title]="form.get('rows')?.value[i].email">
                  <input
                    (click)="stopProp($event)"
                    class="notEditableInput cell-content"
                    [class.editableInput]="!form.get('rows')?.value[i].isEditable"
                    formControlName="email"
                    [readonly]="form.get('rows')?.value[i].isEditable"
                    type="text">
                </td>
              </ng-container>
              <!-- Phone -->
              <ng-container matColumnDef="phone">
                <th mat-header-cell *matHeaderCellDef [appResizeColumn]="true" [index]="3"> Номер телефона </th>
                <td mat-cell
                  *matCellDef="let element; let i = index"
                  [formGroup]="element"
                  [title]="form.get('rows')?.value[i].phone">
                  <input
                    [showMaskTyped]="true"
                    prefix="+7"
                    [mask]="' (000) 000 00 00'"
                    (click)="stopProp($event)"
                    class="notEditableInput"
                    [class.editableInput]="!form.get('rows')?.value[i].isEditable"
                    formControlName="phone"
                    [readonly]="form.get('rows')?.value[i].isEditable"
                    type="text">
                </td>
              </ng-container>
              <!-- Actions -->
              <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell
                  *matCellDef="let element; let i = index"
                  [formGroup]="element">
                  <div class="actions">
                    <button
                      *ngIf="form.get('rows')?.value[i].isEditable"
                      mat-icon-button
                      class="edit-btn"
                      (click)="editRow($event, i, form)">
                      <mat-icon svgIcon="edit"></mat-icon>
                    </button>
                    <button
                      [disabled]="form.invalid  || form.valid && !form.dirty && form.untouched"
                      mat-raised-button
                      color="primary"
                      (click)="saveChanges($event, i, form)"
                      *ngIf="!form.get('rows')?.value[i].isEditable">
                      Сохранить
                    </button>
                    <button
                      mat-stroked-button
                      (click)="canselChanges($event, i, form)"
                      *ngIf="!form.get('rows')?.value[i].isEditable">
                      Отменить
                    </button>
                  </div>
                </td>
              </ng-container>
              <!-- header row -->
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <!-- body rows -->
              <tr mat-row
                #matrowtest
                *matRowDef="let row; columns: displayedColumns"
                (click)="this.selection.toggle(row)"
                [class.selectedRow]="this.selection.isSelected(row)">
              </tr>
            </table>
          </ng-container>
        </form>
      </ng-container>

    </ng-template>
    <mat-paginator
      [disabled]="dataSource.data.length === 0"
      [hidden]="!dataSource.data"
      [pageSizeOptions]="[10, 20, 30]"
      showFirstLastButtons>
    </mat-paginator>
  </div>

  <!-- show spinner if data is still loading from the api -->
  <ng-template #loading>
    <mat-spinner   [diameter]="50"></mat-spinner>
  </ng-template>
</div>
